<tr>
  <td><%= link_to resource_category.name, edit_project_resource_category_path(resource_category.project, resource_category) %></td>
  <td><%= delete_link(project_resource_category_path(resource_category.project, resource_category)) %>
</tr>
