
/* add items overlay */
#resource_item_search { width: 90%; }
#resource_items_for_issue .unit {
  margin-left: 5px;
  display: inline-block;
  width: 3em;
}

/* resource items in issue form */

#issue_resource_items_form_container {
  margin: 5px 0;
}

#resource_items_form span.add_resource_items {
  font-size: 80%;
  line-height: 2.5em;
}

#resource_item_list label {
  float: none;
  font-weight: normal;
}
#resource_item_list .issue_resource_item_wrap {
  float: left;
  margin: 0 5px;
}
