
/* SupplyItems table */

table.list.supply_items tbody td.text { text-align: left; }

/* Supply item history */

table.list.supply_item_journals tbody td.text { text-align: left; }

table.list.supply_item_journals tbody td.stock,
table.list.supply_item_journals thead th.stock {
  text-align: right;
}

/* add items overlay */
#supply_item_search { width: 90%; }
#supply_items_for_issue .unit {
  margin-left: 5px;
  display: inline-block;
  width: 3em;
}

#supply_items_for_issue {
  text-align: right;
}

#supply_items_for_issue p {
  padding-left: 260px;
}

/* Supply item stock change modal */

#ajax-modal.update-supply-item label { display: block; }
#ajax-modal.update-supply-item label.error { color: #bb0000; }
