
/* tables */

table.list.issues td.issue_supply_item_names,
table.list.issues td.issue_human_resource_item_names,
table.list.issues td.issue_asset_resource_item_names {
  white-space: normal;
}

tr.resource_item.inactive { color: #aaa; }
tr.resource_item.inactive a { color: #aaa; }

table.list.supply_items tbody td.name,
table.list.supply_items tbody td.description,
table.list.supply_item_journals tbody td.name,
table.list.resource_items tbody td.name {
  text-align: left;
}

tr.supply_item.inactive { color: #aaa; }
tr.supply_item.inactive a { color: #aaa; }

/* Supply item history */

table.list.supply_item_journals tbody td.stock,
table.list.supply_item_journals thead th.stock {
  text-align: right;
}

label.supply-item {
  font-weight: normal;
}

/* add items overlay */
#supply_item_search, #resource_item_search { width: 90%; }
#supply_items_for_issue .unit, #supply_items_inputs .unit {
  margin-left: 5px;
  display: inline-block;
  width: 3em;
}
#supply_items_for_issue {
  text-align: right;
  max-height: 400px;
  overflow-y: scroll;
}
#supply_items_for_issue label {
  margin-left: -255px;
  width: 250px;
}

#supply_items_for_issue p {
  padding-left: 250px;
}
#supply_items_for_issue input[type="number"] {
  width: 6.5em;
}

/* Supply item stock change modal */

#ajax-modal.update-supply-item label { display: block; }
#ajax-modal.update-supply-item label.error { color: #bb0000; }


